<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="specialist/signUp/specialistSignUpBase::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <section>
        <div>
            <div class="circle-container mb-4">
                <div class="circle" style="background-color: #F6CB3D; !important;">1</div>
                <div class="connector"></div>
                <div class="circle" style="background-color: #F6CB3D; !important;">2</div>
                <div class="connector"></div>
                <div class="circle">3</div>
            </div>
        </div>

        <div class="basicInfo mb-5">
            <h4 class="greenText"> Additional information </h4>
        </div>

        <form th:action="@{/static}">
            <div class="row gy-3 overflow-hidden">

                <div class="col-12">
                    <div class="input-field">
                        <input type="file" placeholder="Upload Your picture #1" id="profilePic" name="profilePic" />
                    </div>
                </div>

                <div class="col-12">
                    <div class="input-field">
                        <input type="file" placeholder="Upload Your NID Front Page #2" id="nidFront" name="nidFront" />
                    </div>
                </div>


                <div class="col-12">
                    <div class="input-field">
                        <input type="file" placeholder="Upload Your NID Back Page #3" id="nidBack" name="nidBack" />
                    </div>
                </div>

                <div class="col-12">
                    <div class="input-field">
                        <input type="text" placeholder="Write about yourself" id="about" name="about" />
                    </div>
                </div>

                <div class="col-12">
                    <div class="input-field">
                        <input type="text" placeholder="Per Hour Rate" id="rate" name="rate" />
                    </div>
                </div>

                <div></div>

                <div class="col-12">
                    <div class="d-grid continue_btn">
                        <button class="btn btn-lg" type="submit">Continue</button>
                    </div>
                </div>
            </div>
        </form>

    </section>
</body>
</html>