<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="specialist/signUp/specialistSignUpBase::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <section>
        <div>
            <div class="circle-container mb-4">
                <div class="circle" style="background-color: #F6CB3D; !important;">1</div>
                <div class="connector"></div>
                <div class="circle" style="background-color: #F6CB3D; !important;">2</div>
                <div class="connector"></div>
                <div class="circle" style="background-color: #F6CB3D; !important;">3</div>
            </div>
        </div>

        <div class="basicInfo mb-5">
            <h4 class="greenText"> Interests </h4>
        </div>

        <form th:action="@{/static}">
            <div class="row gy-3 overflow-hidden">

                <div class="box">
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input checkbox" type="checkbox" value="plumber" name="Option" id="plumber">
                            <label class="form-check-label" for="plumber">
                                Plumber
                            </label>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input checkbox" type="checkbox" value="technician" name="Option" id="technician">
                            <label class="form-check-label" for="technician">
                                Technician
                            </label>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input checkbox" type="checkbox" value="electrician" name="Option" id="electrician">
                            <label class="form-check-label" for="electrician">
                                Electrician
                            </label>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input checkbox" type="checkbox" value="mechanic" name="Option" id="mechanic">
                            <label class="form-check-label" for="mechanic">
                                Mechanic
                            </label>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input checkbox" type="checkbox" value="furnitureAssembly" name="Option" id="furnitureAssembly">
                            <label class="form-check-label" for="furnitureAssembly">
                                Furniture Assembly
                            </label>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input checkbox" type="checkbox" value="movingHelp" name="Option" id="movingHelp">
                            <label class="form-check-label" for="movingHelp">
                                Moving Help
                            </label>
                        </div>
                    </div>





                </div>

                <div></div>

                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input checkbox" type="checkbox" value="emergencyService" name="emergencyService" id="emergencyService">
                        <label class="form-check-label" for="emergencyService">
                            Can you Provide Emergency Service
                        </label>

                        <!-- Info icon -->
                        <div class="info-icon" th:onclick="'showToaster();'">i</div>

                        <!-- Toaster container -->
                        <div id="toaster" class="toaster-container"></div>


                    </div>
                </div>

                <div></div>

                <div class="col-12">
                    <div class="d-grid continue_btn">
                        <button class="btn btn-lg" type="submit"> Submit </button>
                    </div>
                </div>

            </div>
        </form>

    </section>


</body>
</html>