body{
    background-color: #F8F9FA;
}

.welcomeText{
    color: #2A6B53;
}

.logo{
    width: 250px;
    height: 250px;
}

/* Style the custom checkbox when checked */
.checkbox:checked {
    background-color: #FFB800;
}

.continue_btn{
    background-color: #FFB800;
    border-radius: 10px;
}


